@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@font-face {
	src: url("./font/TmonMonsori.otf.otf");
	font-family: "TMONTium";
}
@font-face {
	font-family: "Gmarket_M";
	src: url("./font/GmarketSansMedium.otf");
}
@font-face {
	font-family: "Pretend_M";
	src: url("./font/Pretendard-Medium.otf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ol,
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #fff;
	font-family: "NexonLv1Gothic";
	font-weight: 300;
	/* background-color: #111; */
}
#main {
}
#main .section1 {
	width: 100%;
	height: 100vh;
	background: #000;
}

#main .section1 .loading {
}
#main .section1 .textbox {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
#main .section1 .textbox .title {
	font-size: 5vw;
	text-transform: uppercase;
	font-weight: bold;
}

#main .section2 {
	width: 100vw;
	height: 100vh;
	background: #000;
}
.section2 {
	width: 100vw;
	height: 100vh;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.section2 .sect2_txt {
	width: 1700px;
	/* height: 100vh; */
	position: absolute;
	top: 100px;
	right: 100px;
	font-family: "Gmarket_M";
	font-size: 2vw;
	text-align: right;
	animation: slide 1s ease-out;
}
.section2 .sect2_txt .text_t1,
.section2 .sect2_txt .text_t2,
.section2 .sect2_txt .text_t3 {
	font-family: "TMONTium";
	font-size: 4vw;
	line-height: 1.3;
	text-transform: uppercase;
}
.section2 .sect2_txt .text_t1 {
}
.section2 .sect2_txt .text_t2 {
}
.section2 .sect2_txt .text_t3 {
	position: relative;
}
.section2 .text_t4 {
	position: absolute;
	top: 370px;
	right: 100px;
	font-size: 1.7vw;
	color: #f24040;
	animation: slide 1.2s ease-out;
}
@keyframes slide {
	from {
		right: -500px;
		opacity: 0;
	}
	to {
		right: 100px;
		opacity: 1;
	}
}

@keyframes disappear {
	from {
		right: 100px;
		opacity: 1;
	}
	to {
		right: -500px;
		opacity: 0;
	}
}

.section2 .profile_img1 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.section2 .profile_img1 img {
	width: 450px;
	height: 450px;
	border-radius: 50%;
	position: absolute;
	top: 280px;
	left: 150px;
}

.section2 ul {
	width: 1700px;
	font-size: 0.9vw;
	line-height: 2;
	color: #fff;
	position: absolute;
	bottom: 320px;
	right: 100px;
	animation: slide2 1.3s ease-out;
}
.section2 ul li {
	text-align: right;
}
@keyframes slide2 {
	from {
		right: -300px;
		opacity: 0;
	}
	to {
		right: 100px;
		opacity: 1;
	}
}
@keyframes disappear2 {
	from {
		right: 100px;
		opacity: 1;
	}
	to {
		right: -300px;
		opacity: 0;
	}
}
#main .section3 {
	width: 100vw;
	height: 400px;
	background: #000;
}
.section3 .inner {
	width: 100%;
	height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.section3 .inner .skill_box {
	width: 100vw;
	height: 100%;
	position: relative;
}
.section3 .inner .skill_box h2 {
	position: absolute;
	bottom: 460px;
	right: 120px;
	font-family: "TMONTium";
	font-size: 3vw;
	line-height: 1.3;
	text-transform: uppercase;
	color: #cfcfcf;
}
.section3 .inner .skill_box .skill_cont {
	width: 1700px;
	margin: 0 auto;
	justify-content: center;
	display: flex;
}
.section3 .inner .skill_box .skill_cont .skill_wrap {
}
.section4 {
	width: 100vw;
	height: 1000px;
	background-color: #000;
}
.section4 .inner {
	width: 100%;
	height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.section4 .inner .wrap {
	justify-content: center;
	align-items: center;
	display: flex;
}
.section4 .inner .wrap .img1 {
	width: 800px;
	height: 550px;
	margin-right: 40px;
	margin-bottom: 40px;
	position: relative;
	top: 0;
	left: 0;
	/* animation: imgslide 1s ease-out; */
}
.section4 .inner .wrap .img1 span {
	font-family: "Gmarket_M";
	font-size: 1.2vw;
	text-transform: uppercase;
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #ffffff;
}
.section4 .inner .wrap .img1 span:hover {
	transform: scale(1.1);
	transition: 0.3s ease-out;
	color: rgba(0, 0, 0, 0.5);
}
.section4 .inner .wrap .img1 img {
}
.section4 .inner .wrap .right {
	width: 400px;
}
.section4 .inner .wrap .right p {
	font-family: "Gmarket_M";
	font-size: 1vw;
	line-height: 1.5;
	text-align: left;
}
.section4 .inner .myphoto {
	display: flex;
	width: 1700px;
	height: 100vh;
	margin: 0 auto;
	justify-content: center;
	position: relative;
}
.section4 .inner .myphoto .img2 {
	width: 380px;
	height: 380px;
	position: relative;
	top: 0;
	left: 0;
	margin-right: 40px;
	animation: imgslide 1.2s ease-out;
}
.section4 .inner .myphoto .img2 span {
	font-family: "Gmarket_M";
	font-size: 1.2vw;
	text-transform: uppercase;
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #e7e7e7;
}
.section4 .inner .myphoto .img2 span:hover {
	transform: scale(1.1);
	transition: 0.3s ease-out;
	color: rgba(0, 0, 0, 0.5);
}
.section4 .inner .myphoto .img2 img {
}
.section4 .inner .myphoto .img3 {
	position: relative;
	width: 380px;
	height: 360px;
	margin-right: 40px;
	animation: imgslide 1.4s ease-out;
}
.section4 .inner .myphoto .img3 span {
	font-family: "Gmarket_M";
	font-size: 1.2vw;
	text-transform: uppercase;
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #e7e7e7;
}
.section4 .inner .myphoto .img3 span:hover {
	transform: scale(1.1);
	transition: 0.3s ease-out;
	color: rgba(0, 0, 0, 0.5);
}
.section4 .inner .myphoto .img3 img {
}
.section4 .inner .myphoto .img4 {
	width: 380px;
	height: 380px;
	position: relative;
	animation: imgslide 1.6s ease-out;
}
.section4 .inner .myphoto .img4 span {
	font-family: "Gmarket_M";
	font-size: 1.2vw;
	text-transform: uppercase;
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #f1f1f1;
}
.section4 .inner .myphoto .img4 span:hover {
	transform: scale(1.1);
	transition: 0.3s ease-out;
	color: rgba(0, 0, 0, 0.5);
}
.section4 .inner .myphoto .img4 img {
}

@keyframes imgslide {
	from {
		left: -200px;
		opacity: 0;
	}
	to {
		left: 0px;
		opacity: 1;
	}
}

.section5 {
	width: 100vw;
	height: 1400px;
	background: #000;
}
.section5 .inner {
	width: 100vw;
	/* height: 100vh; */
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.section5 .inner h2 {
	font-family: "Gmarket_M";
	font-size: 4.5vw;
	letter-spacing: 7;
	text-transform: uppercase;
	line-height: 1.3;
	position: absolute;
	top: 150px;
	left: 160px;
	opacity: 0;
	transition: all 0.5s;
	transform: rotate(-720deg);
}
.section5 .inner .project {
	width: 100vw;
	height: 100vh;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.section5 .inner .project .project1_text {
	margin-top: 380px;
}
.section5 .inner .project .project1_text .num {
	font-family: "Gmarket_M";
	font-size: 3.5vw;
	letter-spacing: 3;
	padding-bottom: 10px;
}

.section5 .inner .project .project1_text h4 {
	font-family: "Gmarket_M";
	font-size: 2.3vw;
	letter-spacing: 2;
}

.section5 .inner .project .project1_text h4:after {
	content: "";
	display: block;
	width: 450px;
	height: 1px;
	background: #707070;
	margin: 20px 0;
}
.section5 .inner .project .project1_text p {
	width: 450px;
	display: flex;
}
.section5 .inner .project .pro_cont {
	margin-top: 750px;
	margin-left: 50px;
	display: flex;
}
.section5 .inner .project .pro_cont figure {
}
.section5 .inner .project .pro_cont figure img {
}
.section5 .inner .project .pro_cont .view {
	margin-top: 465px;
	margin-left: 20px;
}
.section5 .inner .project .pro_cont .view a {
	font-family: "Pretend_M";
	font-size: 13px;
	color: #fff;
	text-shadow: 3px 3px 10px #fff;
}
.section6 {
	width: 100vw;
	height: 100vh;
	background: #000;
}
.section6 .project {
	width: 100vw;
	height: 100vh;
	position: relative;
	justify-content: center;
	display: flex;
}
.section6 .project .project2_text {
}
.section6 .project .project2_text .num {
	font-family: "Gmarket_M";
	font-size: 3.5vw;
	letter-spacing: 3;
	padding-bottom: 10px;
}
.section6 .project .project2_text h4 {
	font-family: "Gmarket_M";
	font-size: 2.3vw;
	letter-spacing: 2;
}

.section6 .project .project2_text h4:after {
	content: "";
	display: block;
	width: 450px;
	height: 1px;
	background: #707070;
	margin: 20px 0;
}

.section6 .project .project2_text p {
	width: 450px;
	display: flex;
}
.section6 .project .pro_cont {
	margin-left: 50px;
	display: flex;
}
.section6 .project .pro_cont figure {
}
.section6 .project .pro_cont figure img {
}
.section6 .project .pro_cont .view {
	margin-top: 465px;
	margin-left: 20px;
}
.section6 .project .pro_cont .view a {
	font-family: "Pretend_M";
	font-size: 13px;
	color: #fff;
	text-shadow: 3px 3px 10px #fff;
}

.section7 {
	width: 100vw;
	height: 100vh;
	background: #000;
}
.section7 .project {
	width: 100vw;
	height: 100vh;
	position: relative;
	justify-content: center;
	display: flex;
}
.section7 .project .project3_text {
}
.section7 .project .project3_text .num {
	font-family: "Gmarket_M";
	font-size: 3.5vw;
	letter-spacing: 3;
	padding-bottom: 10px;
}
.section7 .project .project3_text h4 {
	font-family: "Gmarket_M";
	font-size: 2.3vw;
	letter-spacing: 2;
}
.section7 .project .project3_text h4:after {
	content: "";
	display: block;
	width: 450px;
	height: 1px;
	background: #707070;
	margin: 20px 0;
}
.section7 .project .project3_text p {
	width: 450px;
	display: flex;
}
.section7 .project .pro_cont {
	margin-left: 50px;
	display: flex;
}
.section7 .project .pro_cont figure {
}
.section7 .project .pro_cont figure img {
}
.section7 .project .pro_cont .view {
	margin-top: 465px;
	margin-left: 20px;
}
.section7 .project .pro_cont .view a {
	font-family: "Pretend_M";
	font-size: 13px;
	color: #fff;
	text-shadow: 3px 3px 10px #fff;
}
